future
numpy; python_version < '3.0'
numpy==1.18.4; python_version >= '3.0'
pygame
matplotlib
open3d
Pillow
invertedai@git+https://github.com/inverted-ai/invertedai.git@develop
nbconvert>=7.17.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
